.container-fluid{
  color: white;
  text-align: justify;
}

.header{
  height: 100px;
}

.green{
  height: 100px;
}

.blue{
  height: 100px;
}

.purple{
  height: 100px;
}

.yellow{
  height: 100px;
}

.red{
  height: 100px;
}

.blank{
  height: 100px;
}

.bali{
  float: left;
  padding-left: 10px;
  margin-left: -12px;
}

.great{
  float: center;
  padding-left: 10px;
  -webkit-padding-start: 165px;
}

.paris{
  float: right;
  padding-left: 10px;
}

.footer{
  background-color: black;
  text-align: center;
  height: 100px;
}
